[build]
  base = "frontend"
  publish = ".next"
  command = "npm install && npm run build"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"

[dev]
  command = "npm run dev"
  publish = ".next"

